.yui-pe-content {
    display:none;
}
#gm-loading{
    z-index: 1000 !important;
    visibility:hidden;
}
.edit-title {
    display:none;
}
.yui-skin-sam .mask, .yui-skin-sam .yui-panel-container.shadow .underlay {
    -khtml-opacity: .25;
    -moz-opacity: .25;
    filter: alpha(opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=25)";
}
.yui-skin-sam .yui-dialog .ft, .yui-skin-sam .yui-panel .bd {
    background: #fff;
}
.yui-dialog {
    position:fixed;
}
.yui-skin-sam .yui-panel .bd fieldset {
    padding: 10px;
}
@media (min-width: 1200px)  {
    .form-item .form-label, .mform .fitem div.fitemtitle, .userprofile dl.list dt, .form-horizontal .control-label {
        width: 115px;
    }
    .form-item .form-setting, .form-item .form-description, .mform .fitem .felement, #page-mod-forum-search .c1, .mform .fdescription.required, .userprofile dl.list dd, .form-horizontal .controls, .editor_atto_wrap {
        margin-left: 145px;
    }
}
.gm-dialog form.mform  input, .gm-dialog form.mform  textarea{
    width: 98%;
    padding: 2px;
}
.button-group .default button, .button-group .default button:hover, #gm-preview-design-button {
    text-shadow: 0 0px 0px rgba(255,255,255,0.75);
    background-image: none !important;
    border: 0px none;
    box-shadow: inset 0 0px 0 rgba(255,255,255,0.2),0 0px 0px rgba(0,0,0,0.05);
    background-color:transparent;
}
.mform div.fhtmleditor select {
    width:auto !important;
}
.gm-dialog form.mform  select {
    width: 100%;
}
.gm-dialog form.mform  input.small {
    width: 33.3%;
}
.gm-dialog  .fitem .fgroup label {
    color: #666666;
    float: left !important;
    font-style: italic;
    left: 0;
    position: relative;
    top: 0;
    width: 9% !important;
}
.gm-dialog .fitem .fgroup input {
    float: left;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 30px;
    width: auto;
}

#id_padding_right, #id_padding_left, #id_innerpadding_left, #id_innerpadding_right, #id_bgimageposition_left {
    margin-right: 0;
}
.gm-dialog .fitem .fgroup {
    border: 0 none;
    width: 82%;
}
.gm-dialog .fdescription.required {
    margin-top:10px;
}
#gm-table {

}
#gm-table th.header, #gm-rulestable th.header {
    text-align:left;
}
.yui-skin-sam .yui-calendar td.calcell a {
    color: #0066CC !important;
}
.yui-skin-sam .yui-calendar td.calcell a:hover {
    color:#fff !important;
}
.yui-skin-sam  .calhead {
    color:#000 !important;
}
#gm-add-rule {
    margin: 0 !important;
    padding: 0 !important;
}
#gm-add-rule a {
    color: #000000 !important;
    padding: 1px 5px;
}
.gm-toolbar button span {
    float:left;  margin-top: 0px;    margin-left: 15px;
}
#gm-addnew, #gm-design {
    float:right;
    margin: 0 2px 0 10px;
}
#gm-addnew button{
    background: url("../img/add.png") no-repeat scroll 3px 2px transparent;
    width: 177px;
}
#gm-design button {
    background: url("../img/design.png") no-repeat scroll 3px 2px transparent;
    width: 195px;
}
.gm-toolbar {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 5px;
    width: 100%;
}
.gm-toolbar label {
    float: left;
    font-weight: bold;
    padding: 5px 5px 5px 0;
}
.gm-toolbar select {
    float: left;
    margin: 3px;
    width: 24%;
}
#gm-rulestable select {
    width: auto;
    padding: 5px 0;
}
#gm-rulestable .c1 {
    width: 85px;
}
#gm-rulestable .c2 {
    width: 85px;
}
#gm-rulestable .c3 {
    width: 165px;
}
#gm-rulestable .c5 {
    text-align: center !important;
    width: 45px;
}
#gm-rulestable .text {
    width: 99%;
    padding: 5px 1px;
    margin: 0 !important;
}
#calendar {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
#gm-calendar {
    position: absolute;
}
#gm-message-design-preview {
    display: none;
    height: 200px;
    overflow: auto;
    width: 100%;
}
#gm-preview-design , #gm-updatepreview-design{
    float: right;
}
#gm-remove-design {
    display:none;    float: left;
}
#gm-notice.noticebox {
    border:1px solid #DDDDDD;
}
#gm-design-message-dialog .bd{
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
}
